.home__background-img {
  width: 100%;
  /* position: relative;
  z-index: 0; */
  margin-bottom: -150px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.3) 75%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.3) 75%,
    rgba(0, 0, 0, 0)
  );
}

.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  background-color: #eaeded;
}

.wrapper {
  display: grid;
  position: relative;
  margin: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(200px, 2fr);
  grid-gap: 10px;
  align-items: center;
}

.wrapper > div {
  height: 100%;
  /* max-height: fit-content; */
}

/* .wrapper div img {
  max-width: 80%;
  max-height: 80%;
} */

.wrapper div:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}
.wrapper div:nth-child(5) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.wrapper div:nth-child(7) {
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
}
.wrapper div:nth-child(4) {
  grid-row: span 2;
}
