.product__star {
  font-size: 20px !important;
  color: rgb(235, 235, 0);
}

.product__star-border {
  font-size: 20px !important;

  color: rgb(176, 176, 176);
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
  height: 100%;
  width: 100%;
  background-color: white;
}

/* RESIZING */
/* https://stackoverflow.com/questions/61533780/how-to-use-css-transform-scale-to-fit-child-div-to-parent-div-responsively-i */
/* https://gist.github.com/liudmil-mitev/3ea474ef0b387a8cc2b9ea6bdeb8db7c */
/* https://stackoverflow.com/questions/18750769/scale-div-with-its-content-to-fit-window */

.product > img {
  width: 100%;
  margin: 0px;
}

.product__info {
  width: 100%;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.product__title {
  font-size: 14px;
  text-overflow: ellipsis; /* will make [...] at the end */
  width: 30ch; /* change to your preferences */

  white-space: nowrap; /* paragraph to one line */
  overflow: hidden; /* older browsers */
}
